
html {
  font-size: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#loginform {
  max-width: 500px;
  min-width: 300px;
  max-height: 80%;
  width: 30%;
  height: 10%;
  margin: 100px auto;
  background-color: #ffffff;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#headerTitle {
  text-align: center;
  font-family: "open sans", sans-serif;
  padding: 2rem 0;
  margin: 0;
  font-size: 2rem;
}

#button {
  padding-bottom: 1.5rem;
}
